/*  
    Upto 991px
    This is the default styling for mobile devices.
*/
.menu li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    padding: 10px;
    display: block;
}

.menu li {
    list-style: none;
    /* border: 1px solid #000; */
}

.menu li:hover {
    background-color: #f0f0f0;
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
}

#menu-icon {
    font-size: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px){
    .menu {
        display: none;
    }

    #menu-icon {
        display: block;
    }
}

/* Styles for iPads or Desktop Devices */
@media (min-width: 992px) and (max-width: 1200px){
    .menu {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    #menu-icon {
        display: none;
    }
}

@media (min-width: 1201px) and (orientation: landscape){

}