* {
    margin: 0px;
    padding: 0px;
}

h1 {
    /* 
        width of the content: width of the page 682px
        height of the content: height of the element 37px
    */
    /* padding: 10px 20px 30px 40px; */
    /* padding: 10px 20px 30px; */
    /* padding: 10px 20px; */
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    /* 

        padding: top left right bottom
        padding: top left/right bottom
        padding: top/bottom left/right

    */

    /*
        after padding:
        
        padding left + padding right = 20 + 20 = 40px

        width: 642px
    */

    /* border: 5px solid green;
     */

    border-left: 4px solid green;
    /* border-right: 5px solid green; */

    /*
        after border:
        
        border left + border right = 5 + 5 = 10px

        width: 632px
    */

    margin: 10px 20px 30px 40px;

    /*
        after margin:
        
        margin left + margin right = 20 + 20 = 40px

        width: 592px
    */
}