.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: 15% 85%; */
    /* grid-template-columns: 100px 900px; */
}

.box {
    border: 3px solid green;
    padding: 20px;
    margin: 1px;
}

.header {
    grid-column: 1 / 5;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.maincontent {
    grid-column: 2 / 5;
}

.footer {
    grid-column: 1 / 5;
}

.article {
    grid-column: 2 / 4;
}